/* Clear all the margins and paddings */
* {
	margin: 0;
	padding: 0;
}

/* Set the global variables */
:root {
	/* Colors */
	--low-price: #2274A5;
	--end-price: #E3D8F1;
	--high-price: #EF6461;

	--gray: #777;
	--light-gray: #DDD;
	--light-purple: rgb(197, 161, 245);

	--lh: #05164D;
	--sas: #000099;
}

/* Global dimensions */
html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	/* background-color: #FFFFFF; */
	font-family: 'Raleway', sans-serif;
}

/* Components */
.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100%;
}
